@font-face {
    font-family: 'Audiowide';
    src: url('assets/fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('assets/fonts/Tektur/Tektur-VariableFont.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.retro-header {
    visibility: hidden;
    font-style: italic;
    font-size: 2.2rem;
}

.modern-header {
    font-style: italic;
    font-size: 2.2rem;
    margin-left: 20px;
}

.retro-body {
    background-color: grey;
    height: 100vh;
    overflow: hidden;
    font-family: 'Tektur', sans-serif;
}

.modern-body{
    background-color: white;
    height: 100vh;
    overflow: hidden;
    font-family: 'Audiowide', sans-serif;
}

.retro-text {
    background-color: black;
    color: #ffffff;
    padding: 1rem;
}

.modern-text {
    color: black;
}

.retro-game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.modern-game {
    color: #ffffff;
}

.retro-controls, .retro-stats {
    border: 1px solid black;
    color: black;
    padding: 5px;
}

.retro-monster-stats {
    display: none;
    border: 1px solid black;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
}

#button4 {
    margin-left: 225px;
    background-color: #32fea9;
    background-image: linear-gradient(#4cfecf, #33e0ff);
    border: 3px solid #32fef7;
    border-radius: 100px;
}

/*Design Switcher*/
.checkbox-wrapper-25 {
    display: flex;
    margin-right: 20px;
}

.checkbox-wrapper-25 input {
    width: min-content;
    display: flex;
    margin-left: auto;
}

.checkbox-wrapper-25 input[type="checkbox"] {
    /*noinspection CssInvalidFunction*/
    background-image: -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)),
    -webkit-linear-gradient(left, #f66 50%, #6cf 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .5),
    inset 0 0 10px hsla(0, 0%, 0%, .5),
    0 0 0 1px hsla(0, 0%, 0%, .1),
    0 -1px 2px 2px hsla(0, 0%, 0%, .25),
    0 2px 2px 2px hsla(0, 0%, 100%, .75);
    cursor: pointer;
    height: 25px;
    padding-right: 25px;
    width: 75px;
    -webkit-appearance: none;
    -webkit-transition: .25s;
}

.checkbox-wrapper-25 input[type="checkbox"]:after {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 0%, .1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1),
    inset 0 -1px 1px 1px hsla(0, 0%, 0%, .25),
    0 1px 3px 1px hsla(0, 0%, 0%, .5),
    0 0 2px hsla(0, 0%, 0%, .25);
    content: '';
    display: block;
    height: 25px;
    width: 50px;
}

.checkbox-wrapper-25 input[type="checkbox"]:checked {
    background-position: 0 0, 35px 0;
    padding-left: 25px;
    padding-right: 0;
}