@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur/Tektur-VariableFont.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

img {
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header {
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: italic;
    font-size: 2.2rem;
}

.body {
    background-color: grey;
    height: 100vh;
    overflow: hidden;
    font-family: 'Tektur', sans-serif;
}

.text {
    background-color: black;
    color: #ffffff;
    padding: 1rem;
}

.game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.controls, .stats {
    border: 1px solid black;
    color: black;
    padding: 5px;
}

.monster-stats {
    display: none;
    border: 1px solid black;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
}

#button4 {
    margin-left: 225px;
    background-color: #32fea9;
    background-image: linear-gradient(#4cfecf, #33e0ff);
    border: 3px solid #32fef7;
    border-radius: 100px;
}