@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur/Tektur-VariableFont.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Tektur', sans-serif;
}

body {
    background-color: #1A0B0C;
    height: 100vh;
    overflow: hidden;
}

img {
    height: 100px;
    width: 100px;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-left {
    align-items: center;
    display: flex;
    font-size: 2.3rem;
    font-style: italic;
    gap: 10px;
    visibility: hidden;
}

h1 {
    font-size: 2.3rem;
    font-weight: normal;
}

.text {
    background-color: black;
    color: navajowhite;
    padding: 1rem;
    text-align: center;
}

.game {
    background-image: linear-gradient(#fecc4c, #E2A628);
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 30px auto 0 auto;
    max-height: 400px;
    max-width: 500px;
    padding: 10px;
}

.controls, .stats {
    border: 1px solid black;
    border-radius: 0.1rem;
    color: black;
    padding: 5px;
}

.stats {
    align-items: center;
    border-bottom: none;
    display: flex;
    justify-content: space-evenly;
}

.controls {
    border-top: none;
    display: flex;
    justify-content: space-evenly;
}

.monster-stats {
    background-color: #FF3A32;
    color: #0F0506;
    display: none;
    padding: 5px;
}

.innerMonster {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.icon {
    display: none;
}

.stat {
    padding-right: 10px;
}

button {
    background: #FF3A32 linear-gradient(#FF3A32, rgb(255, 50, 105));
    border: 3px solid rgb(255, 50, 105);
    border-radius: 0.2rem;
    color: black;
    cursor: pointer;
    font-weight: bold;
}