@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur/Tektur-VariableFont.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

img {
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-left {
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: italic;
    font-size: 2.2rem;
}

.body {
    background-color: #1A0B0C;
    height: 100vh;
    overflow: hidden;
    font-family: 'Tektur', sans-serif;
}

.text {
    background-color: black;
    color: navajowhite;
    padding: 1rem;
}

.game {
    max-width: 500px;
    max-height: 400px;
    background-image: linear-gradient(#fecc4c, #E2A628);
    border-radius: 0.5rem;
    margin: 30px auto 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.controls, .stats {
    border: 1px solid black;
    color: black;
    padding: 5px;
    border-radius: 0.1rem;
}

.stats {
    border-bottom: none;
}

.monster-stats {
    display: none;
    border: 1px solid black;
    padding: 5px;
    color: #0F0506;
    background-color: #FF3A32;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #42310d;
    background-color: #FF3A32;
    background-image: linear-gradient(#FF3A32, rgb(255, 50, 105));
    border: 3px solid #FF3A32;
    border-radius: 0.2rem;
}